<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.api.whatsaudit"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icono_whatsaudit"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="org.api.whatsaudit.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.api.whatsaudit.MainMenu"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="org.api.whatsaudit.MainRegistro"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name="org.api.whatsaudit.MainConsultar"
            android:label="@string/app_name" >
        </activity>
        
     	<activity
            android:name="org.api.whatsaudit.MainContestar"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name="org.api.whatsaudit.MainGestionar"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name="org.api.whatsaudit.MainPlantilla"
            android:label="@string/app_name" >
        </activity>
		
		<activity
            android:name="org.api.whatsaudit.MainAnadirPlantilla"
            android:label="@string/app_name" >
        </activity>
        
		<activity
            android:name="org.api.whatsaudit.MainListaContestar"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>
